/* Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header part*/
.header {

    background-color: black;
    color: white;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Navigation*/
nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}
 nav a:hover{
    color: #f4c542;
 
}
/*Hero section*/

.hero{
    background:#f2f2f2;
    text-align: center;
    padding: 80px 20px;

    }

.hero h2{

    font-size: 36px;
    margin-bottom: 10px;
}
.hero p{

    font-size: 18px;
    margin-bottom: 10px;
}

/* Courses Section*/

.courses{

    padding: 60px;

}
.courses h2{

    margin-bottom: 30px;
    font-size: 30px;
}

/*Flex Layout*/

.course-container{

    display:flex;
    gap: 30px;
    flex-wrap: wrap;
    
}

.course-card{
    border: 1px solid #ddd;
    padding: 25px;
    width:280px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:0 3px 10px rgba(0,0,0,0.2);

}
.course-card:hover{
    transform: translateY(-8px);
    box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.course-card h3,p{

    margin-bottom:10px;
}
.course-card button{
    margin-top: 15px;
    padding: 10px 18px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transform: 0.3s;
    
}
.course-card button:hover{
    background: #f4c542;
    color: black;
}

/*Table Styling*/
 table{
    border-collapse: collapse;
    margin: 40px;
    width: 80%;
 }

 table, th, td{

    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
 }
th{

    background: black;
    color: white;
}

/*Contact Form*/

.contact-form{
    width: 350px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.contact-form input,
.contact-form textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button{
    padding: 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.contact-form button:hover{

    background: #f4c542;
    color: black;
}